.div-title{
    text-align:center;
    color:#19191a;
    font-size:14px;
    font-family:"PingFangSC-Regular";
    white-space:pre-wrap;
}

.p-full{
    width:100%;
    font-family:"PingFangSC-Regular";
    font-size:22px;
}

.li-items{
    width:100%;
    height:100px;
    list-style:none;
    font-size:16px;
    font-family:"PingfangSC-Regular";
    background:lightgreen;
}

.p-header{
    width:100%;
    font-family:"PingFangSC-Regular";
    font-size:20px;
    color:cyan;
}

.cell-img{
    margin-top:10px;
    margin-left:10px;
    height:80px;
    width:80px;
    background:lightgray;
}

.cell-div{

}
